
body {
	background-color: #FFFFEF;

}

caption {
	font-size: 9px;
}

/* Header */
.header {
	width: 98%;
	height: 100px;
	background-color: #FFF1E2;
	margin: 0px;
	border-bottom: 5px solid #C2C29F;
	display: block;

}

.header p {
	font-family: 'Black Ops One';
	font-size: 36px;
	color: #344399;
	float: left;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;


}

.header nav {
	font-family: 'Black Ops One';
	color: green;
	float: right;
	margin-left: -500px;
	padding-left: 20px;
	padding-top: 50px;
	padding-bottom: 5px;
	padding-right: 20px;

}

.header ul li{
	list-style: none;
	float: left;

}

.header a {
	text-decoration: none;
	margin: 9px;

}

.header a:link {
	color: brown;
}

.header a:hover {
	color: blue;
}

.header a:active {
	color: lightgreen;
}

.header a:visited {
	color: red;
}

/* Content */

.content {
	font-family: "Verdant";
	width: 98%;
	height: 2055px;
	margin: 5px 5px 5px 5px;
	padding: 10px;
	display: inline-block;
}

.content p h1 h2 h3 {
	font-family: "Verdant";
}

.content p {
	text-indent: 10px;
}

/*
#body_paragraphs::first-letter 
{
color:#121212;
font-size:x-large;
}
*/

#title_line {
	text-align: center;
}

.content h1 {
	color: #4444DD;
}

.content h2 {
	color: #AB4D3F;
}

.content h3{
	color: #333399;
}

.content h4{
	color: #333399;
}

.content p {
	color: #556677;
}

#feature_pic {
	height: .55*width;
	width: 45%;
	margin: 0% 27.5% 2% 27.5%;
	box-shadow: 3px 5px 3px black;
}

.content ul li{
	list-style: none;
	float: left;

}

.content a {
	color: brown;
	text-decoration: none;
	margin: 9px;

}

a:link {
	color: brown;
}

a:hover {
	color: blue;
}

a:active {
	color: lightgreen;
}

a:visited {
	color: red;
}

/*--------------------------*/

.content a:link {
	color: brown;
}

.content a:hover {
	color: blue;
}

.content a:active {
	color: lightgreen;
}

.content a:visited {
	color: red;
}

/* Footer */

.footer {
	position: relative;
	font-family: cursive;
	background-color: #CCC6BF;
	border: 5px solid #CCC6BF;
	border-radius: 0px 0px 25px 25px;
	width: 98%;
	height: 40px;
	margin: 10px;
	display: inline-block;
}

.footer p {
		color: 	#8080FF;
		margin: 10px;
		padding: 0px;
		text-indent: 0px;
}



/*  Ran out of Time */

/** Tablet view **/
/* @media screen and (max-width: 960px){  */
/** Mobile view **/
/*@media screen and (max-width: 480px){*/


